.top {
  width: 1181px;
  height: 350px;
  margin: 0 auto;
  margin-top: 8px;
}

.banner {
  width: 1181px;
  height: 350px;
  background-image: url("../img/banner.png");
  background-size: 100% 100%;
  position: relative;
}

.join {
  width: 154px;
  height: 46px;
  background: linear-gradient(
    36deg,
    rgba(2, 154, 192, 1),
    rgba(52, 165, 132, 1)
  );
  border-radius: 23px;
  position: absolute;
  right: 61px;
  bottom: 30px;
  font-size: 24px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  line-height: 46px;
  text-align: center;
}
