.y_silde {
  width: 100%;
  height: 670px;
  background-color: #000000;
  overflow: hidden;
  position: relative;
}
.y_swiper_big {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  left: 0;
  top: 0;
  text-align: center;
  overflow: hidden;
}
.y_swiper_big img {
  width: auto;
  height: auto;
}
.y_swiper {
  width: 1200px;
  height: 145px;
  background: rgba(31, 29, 29, 0.7);
  border-radius: 73px;
  position: relative;
  z-index: 2;
  margin: 480px auto 0 auto;
  font-size: 0px;
  letter-spacing: 0px;
}
.y_swiper_text {
  width: 500px;
  display: inline-block;
  margin: 29px 0 0 50px;
}
.y_swiper_title {
  width: 500px;
  height: 31px;
  font-size: 30px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  line-height: 28px;
  overflow: hidden;
}
.y_swiper_time {
  display: inline-block;
  font-size: 24px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  line-height: 28px;
  margin-top: 27px;
}
.y_swiper_button {
  width: 154px;
  height: 46px;
  display: inline-block;
  text-align: center;
  background: linear-gradient(
    36deg,
    rgba(2, 154, 192, 1),
    rgba(52, 165, 132, 1)
  );
  border-radius: 23px;
  font-size: 22px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  line-height: 46px;
  margin: 15px 0 0 68px;
}
.y_swiper_big:first-child {
  display: block;
}
.y_swiper_content {
  width: 598px;
  height: 78px;
  margin: 30px 0 0 35px;
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.y_swiper_container {
  width: 458px;
  height: 78px;
  margin: 0px auto;
  position: relative;
  overflow: hidden;
}
.swiper-slide {
  margin-right: 10px;
  box-sizing: border-box;
  width: 142px;
  height: 78px;
  display: inline-block;
  border-radius: 4px;
  background-color: #ffffff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.swiper-slide .shadow {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #000000;
  opacity: 0.5;
}
.swiper-slide:last-child {
  margin-right: 0px;
}
.swiper-slide img {
  width: 100%;
  height: auto;
}
.swiper-slide.active {
  border: 4px solid rgba(138, 230, 255, 1);
}
.swiper-slide.active .shadow,
.swiper-slide:hover .shadow {
  display: none;
}
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
}
.swiper-button-next:hover {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
}
.swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}
.swiper-button-prev:hover {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
}
.swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
  right: 10px;
  left: auto;
}

.y_content {
  width: 1180px;
  margin: 0px auto;
  padding-top: 33px;
  overflow: hidden;
}
.y_section {
  width: 100%;
  margin: 0px auto;
  overflow: hidden;
}
.y_section_title {
  height: 50px;
  box-sizing: border-box;
  border-bottom: 2px solid #029ac0;
  font-size: 0px;
  letter-spacing: 0px;
  overflow: hidden;
}
.y_section_title span {
  width: 182px;
  height: 50px;
  box-sizing: border-box;
  display: inline-block;
  background: linear-gradient(
    36deg,
    rgba(2, 154, 192, 1),
    rgba(52, 165, 132, 1)
  );
  border-radius: 8px 8px 0px 0px;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  line-height: 50px;
  margin-right: 30px;
}
.y_section_title p {
  display: inline-block;
  font-size: 0px;
  height: 20px;
  line-height: 20px;
  margin: 15px 0;
}
.y_section_title p a {
  font-size: 18px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  color: rgba(63, 61, 69, 1);
  display: inline-block;
  padding: 0 15px;
}
.y_section_title p a:hover,
.y_section_title p a.active {
  color: rgba(2, 154, 192, 1);
}
.y_section_title p a + a {
  border-left: 1px solid rgba(140, 157, 179, 1);
}
.y_section_title .y_more {
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  color: rgba(119, 132, 145, 1);
  line-height: 30px;
  margin: 10px 0;
  float: right;
}
.y_section_title .y_more:hover {
  color: rgba(2, 154, 192, 1);
}
.y_section_body {
  display: block;
  font-size: 0px;
  letter-spacing: 0px;
}
.y_curriculum {
  list-style: none;
  margin: 0;
  padding: 20px 0 0 0;
  font-size: 0px;
  letter-spacing: 0px;
}
.y_curriculum li {
  display: inline-block;
  width: 220px;
  vertical-align: top;
  margin-bottom: 25px;
  margin-right: 20px;
}
.y_curriculum li:nth-child(5n + 5) {
  margin-right: 0px;
}
.y_curriculum li a {
  display: block;
  margin: 0px;
  padding: 0px;
  width: 220px;
}
.y_curriculum_img {
  width: 220px;
  height: 120px;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: hidden;
}
.y_curriculum_text {
  width: 216px;
  height: 38px;
  padding: 0 4px;
  margin-top: 10px;
  overflow: hidden;
  font-weight: 400;
  color: rgba(18, 18, 18, 1);
  line-height: 20px;
  font-size: 16px;
}
.y_curriculum li a:hover .y_curriculum_text {
  color: rgba(2, 154, 192, 1);
}
.y_curriculum_img img {
  width: 100%;
  height: auto;
}
.y_teacherUl {
  list-style: none;
  margin: 0 0 70px 0;
  padding: 16px 0 0 0;
}
.y_teacherUl li {
  width: 286px;
  height: 240px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(224, 227, 235, 1);
  box-shadow: 0px 0px 10px 0px rgba(122, 163, 205, 0.3);
  border-radius: 8px;
  box-sizing: border-box;
  margin-right: 12px;
  padding: 23px 20px;
  display: inline-block;
}
.y_teacherUl li:hover {
  border: 1px solid rgba(118, 194, 215, 1);
  box-shadow: 0px 0px 10px 0px rgba(122, 163, 205, 0.3);
}
.y_teacherUl li:nth-child(4n + 4) {
  margin-right: 0px;
}
.y_teacher_info {
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(225, 234, 239, 1);
  font-size: 0px;
  letter-spacing: 0px;
}
.y_teacher_img {
  display: inline-block;
  width: 84px;
  height: 84px;
  border-radius: 4px;
  border: 1px solid rgba(183, 185, 189, 1);
  overflow: hidden;
  vertical-align: top;
  margin-right: 18px;
}
.y_teacher_img img {
  width: 100%;
  height: auto;
}
.y_teacher_text {
  display: inline-block;
  vertical-align: top;
}
.y_teacher_text p {
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(49, 53, 56, 1);
  line-height: 28px;
}
.y_teacher_text strong {
  font-size: 18px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  color: rgba(15, 15, 15, 1);
  line-height: 45px;
}
.y_teacher_text i {
  font-style: normal;
  font-size: 12px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(140, 157, 169, 1);
  line-height: 17px;
  margin-left: 17px;
}
.y_teacher_detail {
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(117, 139, 154, 1);
  line-height: 20px;
  height: 80px;
  overflow: hidden;
  margin-top: 18px;
  position: relative;
}
