.header {
  background: #242629;
  height: 99px;
  border: 1px solid #242629;
}
.header-wrap {
  width: 1180px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-wrap .header-left {
  display: flex;
}
.header-wrap .header-left img.logo1 {
  width: 188px;
  height: 54px;
}

.header-wrap .header-left > div > span {
  margin-top: 4px;
  color: #fff;
  font-size: 14px;
  display: block;
}
.header-right {
  display: flex;
  align-items: center;
}
.header-right ul li {
  display: inline-block;
}
.header-right ul li a {
  color: #fff;
  padding: 10px 15px;
}
.header-right .search-wrap {
  width: 190px;
  height: 42px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #585d64;
  margin-right: 15px;
  margin-left: 15px;
}
.header-right .search-wrap input {
  outline: none;
  border: none;
  width: 120px;
  background: none;
  color: #fff;
  font-size: 14px;
}
.header-right .search-wrap img {
  width: 21px;
  height: 22px;
  margin-left: 4px;
  cursor: pointer;
}
.header-right .unlogin a {
  font-size: 14px;
  color: #fff;
}
.header-right .login a {
  font-size: 14px;
  color: #fff;
}
.header-wrap .active{
  background: rgba(2, 154, 192, 1);
  border-radius:2px;
}
.header-right .login img {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.header-right>ul>li>a:hover{
  color: rgba(2, 154, 192, 1);
}
.header-right>ul>li>a.active:hover{
  color: #fff;
}
.header-right .login span {
  font-size: 14px;
  color: #fff;
  margin: 0 15px 0 8px;
}

.body {
  min-height: 500px;
}
.footer .link {
  background: #eaeef3;
  height: 44px;
  line-height: 44px;
  font-size: 14px;
  text-align: center;
}
.footer .link span{
  color: #323438;
font-weight:bold;
}
.footer .link a {
  margin: 0 10px;
  color: #6E7379;
}
.footer .footer-wrap {
  padding-top: 32px;
  background: #313438;
  font-size: 14px;
  color: #fff;
  height: 165px;
}
.footer .footer-wrap > div {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer .footer-wrap p,.footer .footer-wrap h4 {
  margin-bottom: 10px;
  
}
.footer .footer-wrap h4 {
	font-size: 16px;
}
.footer .footer-wrap h4 img{
  vertical-align: middle;
  width: 22px;
  margin-right: 5px;
}
.footer .footer-wrap .line{
	width: 1px;
	background: #747575;
	height: 82px;
	margin-top: 30px;
}
.footer li{
	line-height: 30px;
}
.footer li a{
	color: #fff;
}

@media (max-width:768px) {
	.header{
		height: auto;
	}
	.header-wrap,.tab-wrap .content{
		width: 100%;
	}
	.teacher-wrap .content,.footer .footer-wrap > div{
		width: 100%;
		display: block;
	}
}