.cbody {
  width: 1180px;
  margin: 0 auto;
  margin-top: 26px;
}
.cbody .ctop {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.cbody .ctop .left {
  width: 221px;
  height: 553px;
  background: rgba(239, 246, 251, 1);
  border: 1px solid rgba(2, 154, 192, 1);
  border-radius: 8px 8px 0px 0px;
  margin-right: 19px;
  border-radius: 10px 10px 0px 0px;
  position: relative;
  vertical-align: top;
}

.cbody .ctop .left .pic {
  /* width: 100%; */
  position: absolute;
  top: 52px;
  left: 68px;
  width: 79px;
  height: 79px;
  border-radius: 50%;
  overflow: hidden;
  display: block;
  background: rgba(207, 204, 203, 1);
  border: 4px solid rgba(255, 255, 255, 1);
  box-shadow: 0px 6px 2px 0px rgba(31, 64, 139, 0.24),
    1px 4px 4px 0px rgba(27, 60, 86, 0.53);
}
.cbody .ctop .left .pic > img {
  width: 79px;
  height: 79px;
  /* border-radius: 39px;
  margin: 0 auto; */
}
.cbody .ctop .left .leftTop {
  width: 221px;
  height: 101px;
  background: url(../img/bg-title.png) 0 0 no-repeat;
}
.cbody .ctop .left .leftBottom {
  width: 221px;
  height: 452px;
}
.cbody .ctop .left .leftBottom .name {
  width: 150px;
  height: 15px;
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  color: rgba(36, 38, 41, 1);
  text-align: center;
  margin: 0 auto;
  margin-top: 55px;
}
.cbody .ctop .left .leftBottom .title {
  width: 200px;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  font-style: italic;
  color: rgba(122, 140, 162, 1);
  text-align: center;
  margin: 0 auto;
  margin-bottom: 17px;
  margin-top: 11px;
}
.cbody .ctop .left .leftBottom .messageBox {
  width: 190px;
  height: 61px;
  margin: 0 auto;
  border-top: 1px solid rgba(199, 221, 237, 1);
  border-bottom: 1px solid rgba(199, 221, 237, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.cbody .ctop .left .leftBottom .messageBox .box {
  width: 50%;
  height: 34px;
  text-align: center;
}
.cbody .ctop .left .leftBottom .messageBox .box .num {
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  color: rgba(45, 47, 52, 1);
}
.cbody .ctop .left .leftBottom .messageBox .box .numName {
  font-size: 12px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(123, 139, 162, 1);
}
.cbody .ctop .left .leftBottom .messageBox .myCollection {
  border-right: 1px solid rgba(191, 221, 236, 1);
}
.cbody .ctop .left .leftBottom .select {
  width: 100%;
  height: 273px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cbody .ctop .left .leftBottom .select .selectList {
  width: 100%;
  height: 195px;
}
.cbody .ctop .left .leftBottom .select .selectList .option {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
.cbody .ctop .left .leftBottom .select .selectList .option.active {
  background: rgba(216, 232, 243, 1);
  border-left: 6px solid rgba(2, 154, 192, 1);
  box-sizing: border-box;
}
.cbody .ctop .left .leftBottom .select .selectList .option img {
  width: 20px;
  height: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 54px;
}
.cbody .ctop .left .leftBottom .select .selectList .option.active img {
  margin-left: 48px;
}
.cbody .ctop .left .leftBottom .select .selectList .option .font {
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  color: rgba(59, 74, 89, 1);
  line-height: 50px;
  margin-left: 12px;
}
.cbody .ctop .right {
  width: 938px;
  overflow: hidden;
  vertical-align: top;
}
.cbody .ctop .right .rightcontent {
  width: 100%;
  overflow: hidden;
}
.cbody .ctop .right .myAppointment {
  width: 100%;
}
.cbody .ctop .right .myAppointment .cInfo {
  width: 100%;
  height: 554px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(2, 154, 192, 1);
  box-shadow: 0px 2px 6px 0px rgba(169, 194, 209, 0.5);
  border-radius: 6px 6px 0px 0px;
  box-sizing: border-box;
  /* margin: 20px auto;
  background: rgba(255, 255, 255, 1);
  border: 2px solid rgba(2, 154, 192, 1); */
}
.cbody .ctop .right .myAppointment .cInfo .tablehead {
  width: 100%;
  height: 55px;
  background: rgba(2, 154, 192, 1);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.cbody .ctop .right .myAppointment .cInfo .tablehead div {
  height: 24px;
  text-align: center;
  /* padding: 16px 0px; */
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  line-height: 20px;
  margin: 0 auto;
}
.cbody .ctop .right .myAppointment .cInfo .tablehead div:nth-child(1) {
  width: 25%;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
.cbody .ctop .right .myAppointment .cInfo .tablehead div:nth-child(2) {
  width: 17%;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
.cbody .ctop .right .myAppointment .cInfo .tablehead div:nth-child(3) {
  width: 15%;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
.cbody .ctop .right .myAppointment .cInfo .tablehead div:nth-child(4) {
  width: 18%;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
.cbody .ctop .right .myAppointment .cInfo .tablehead div:nth-child(5) {
  width: 15%;
}
.cbody .ctop .right .myAppointment .cInfo .tablehead div:nth-child(6) {
  width: 10%;
}
.cbody .ctop .right .myAppointment .tableContent {
  width: 920px;
  height: 66px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid rgba(208, 224, 234, 1);
}
.cbody .ctop .right .myAppointment .tableContent:nth-child(7) {
  border-bottom: none;
}
.cbody .ctop .right .myAppointment .tableContent:hover {
  background: rgba(239, 246, 251, 1);
}
.cbody .ctop .right .myAppointment .tableContent div {
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(18, 18, 18, 1);
  line-height: 20px;
  text-align: center;
}
.cbody .ctop .right .myAppointment .tableContent div > div {
  width: 86%;
  margin: 0 auto;
}
.cbody .ctop .right .myAppointment .tableContent > div:nth-child(1) {
  width: 25%;
}
.cbody .ctop .right .myAppointment .tableContent div:nth-child(2) {
  width: 17%;
}
.cbody .ctop .right .myAppointment .tableContent div:nth-child(3) {
  width: 15%;
}
.cbody .ctop .right .myAppointment .tableContent > div:nth-child(4) {
  width: 18%;
}
.cbody .ctop .right .myAppointment .tableContent > div:nth-child(5) {
  width: 15%;
}
.cbody .ctop .right .myAppointment .tableContent > div:nth-child(6) {
  width: 10%;
}
.cbody .ctop .right .myAppointment .tableContent div:nth-child(6) div {
  width: 68px;
  height: 28px;
  background: rgba(93, 183, 121, 1);
  border-radius: 14px;
  color: #ffffff;
  line-height: 28px;
  cursor: pointer;
}
.cbody .ctop .right .myCertificate {
  display: block;
}
.myCertificateUl {
  margin: 0px;
  padding: 0px;
  font-size: 0px;
  letter-spacing: 0px;
  display: block;
}
.myCertificateUl li {
  display: inline-block;
  width: 463px;
  height: 154px;
  overflow: hidden;
  padding: 0 0 22px 0;
  margin-bottom: 22px;
  border-bottom: 1px solid rgba(216, 232, 243, 1);
}
.myCertificateUl li:nth-child(5),
.myCertificateUl li:last-child {
  border: 0px none;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.myCertificateUl li:nth-child(odd) {
  padding-right: 12px;
}
.myCertificateUl li .imgs {
  width: 110px;
  height: 154px;
  display: inline-block;
  margin-right: 15px;
  vertical-align: top;
}
.myCertificateUl li .imgs img {
  width: 100%;
  height: auto;
}
.myCertificateUl li .text {
  display: inline-block;
  width: 338px;
  height: 154px;
  overflow: hidden;
  vertical-align: top;
}
.myCertificateUl li .label {
  width: 70px;
  display: inline-block;
  margin-right: 5px;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  color: rgba(125, 137, 145, 1);
  line-height: 20px;
  vertical-align: middle;
}
.myCertificateUl li p {
  display: flex;
  margin: 6px 0;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.myCertificateUl li .value {
  flex: 1;
  overflow: hidden;
  height: 20px;
  display: block;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(18, 18, 18, 1);
  line-height: 20px;
}
.page {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.cbody .cbottom {
  width: 100%;
  height: 36px;
  background: #cccccc;
  margin-top: 37px;
}
