<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="../js/lib/layui/css/layui.css" media="all" />
  </head>

  <body>
    <form class="layui-form" action="">
      <div
        style="
          width: 100%;
          text-align: center;
          margin-bottom: 15px;
          margin-top: 30px;
          font-size: 16px;
          font-weight: 600;
        "
      >
        个人信息
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">姓名</label>
        <div class="layui-input-block">
          <input
            type="text"
            name="name"
            required
            lay-verify="required"
            placeholder="请输入"
            autocomplete="off"
            class="layui-input"
          />
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">单位</label>
        <div class="layui-input-block">
          <input
            type="text"
            name="com"
            required
            lay-verify="required"
            placeholder="请输入"
            autocomplete="off"
            class="layui-input"
          />
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">职称</label>
        <div class="layui-input-block">
          <input
            type="text"
            name="title"
            required
            lay-verify="required"
            placeholder="请输入"
            autocomplete="off"
            class="layui-input"
          />
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
          <input
            type="text"
            name="remarks"
            required
            lay-verify="required"
            placeholder="请输入"
            autocomplete="off"
            class="layui-input"
          />
        </div>
      </div>
      <div
        style="
          width: 100%;
          text-align: center;
          margin-bottom: 15px;
          margin-top: 30px;
          font-size: 16px;
          font-weight: 600;
        "
      >
        联系方式
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">邮箱</label>
        <div class="layui-input-block">
          <input
            type="text"
            name="email"
            required
            lay-verify="required"
            placeholder="请输入"
            autocomplete="off"
            class="layui-input"
          />
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">手机</label>
        <div class="layui-input-block">
          <input
            type="text"
            name="phone"
            required
            lay-verify="required"
            placeholder="请输入"
            autocomplete="off"
            class="layui-input"
          />
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">地址</label>
        <div class="layui-input-block">
          <input
            type="text"
            name="address"
            required
            lay-verify="required"
            placeholder="请输入"
            autocomplete="off"
            class="layui-input"
          />
        </div>
      </div>
      <div
        style="
          width: 100%;
          text-align: center;
          margin-bottom: 15px;
          margin-top: 30px;
          font-size: 16px;
          font-weight: 600;
        "
      >
        发票信息
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">发票抬头</label>
        <div class="layui-input-block">
          <input
            type="text"
            name="invoiceTitle"
            required
            lay-verify="required"
            placeholder="请输入"
            autocomplete="off"
            class="layui-input"
          />
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">纳税人识别号</label>
        <div class="layui-input-block">
          <input
            type="text"
            name="num"
            required
            lay-verify="required"
            placeholder="请输入"
            autocomplete="off"
            class="layui-input"
          />
        </div>
      </div>
      <div class="layui-form-item" style="margin-top: 50px;">
        <label class="layui-form-label"></label>
        <div class="layui-input-block">
          <button
            type="reset"
            class="layui-btn"
            style="
              width: 120px;
              height: 40px;
              font-size: 16px;
              border-radius: 5px;
              background: #12748c;
            "
          >
            编辑资料
          </button>
          <button
            class="layui-btn"
            lay-submit
            lay-filter="formSubmit"
            style="
              width: 120px;
              height: 40px;
              font-size: 16px;
              border-radius: 5px;
              background: #029ac0;
              margin-left: 80px;
            "
          >
            报名参加
          </button>
        </div>
      </div>
    </form>
  </body>
  <style>
    .layui-form-label {
      width: 20%;
    }
    .layui-input-block {
      width: 100%;
    }
    .layui-input-block input {
      width: 60%;
    }
  </style>
  <script src="../js/lib/jquery/jquery.min.js"></script>
  <script src="../js/lib/layui/layui.js"></script>
  <script>
    layui.use("form", function () {
      var form = layui.form;
      var layer = layui.layer;
      form.on("submit(formSubmit)", function (data) {
        layer.msg(JSON.stringify(data.field));
        return false;
      });
    });
  </script>
</html>
