<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>个人中心</title>
     <link rel="stylesheet" type="text/css" href="../css/index.css" />
    <link rel="stylesheet" type="text/css" href="../css/reset.css" />
    <link rel="stylesheet" type="text/css" href="../css/personalCenter.css" />
    <link rel="stylesheet" href="../js/lib/layui/css/layui.css" media="all" />
  </head>
  <body>

     <header class="header">
      <div class="header-wrap">
        <div class="header-left">
          <img src="../img/LOGO @2x.png" class="logo1" />
        </div>
        <div class="header-right">
          <ul>
            <li>
              <a href="#" class="active">首页</a>
            </li>
            <li>
              <a href="#">培训活动</a>
            </li>
            <li>
              <a href="#">会议活动</a>
            </li>
            <li>
              <a href="#">名优讲师</a>
            </li>
            <li>
              <a href="#">合作机构</a>
            </li>
            <li>
              <a href="#">关于我们</a>
            </li>
          </ul>
          <div class="search-wrap">
            <input placeholder="请输入" type="text" name="" />
            <img src="../img/search.png" />
          </div>
          <!-- <div class="unlogin">
                  <a href="#">登录</a>
                </div> -->
          <div class="login">
            <img src="../img/user.png" />
            <span>某某某</span>
            <a href="#">退出</a>
          </div>
        </div>
      </div>
    </header>

     <section class="body">

   




    <div class="cbody">
      <div class="ctop">
        <div class="left">
          <div class="leftTop"></div>
          <div class="pic">
            <img src="../img/img-touxiang.png" />
          </div>
          <div class="leftBottom">
            <div class="name">王飞宇</div>
            <div class="title">中科院文献情报中心</div>
            <div class="messageBox">
              <div class="myCollection box">
                <div class="num">03</div>
                <div class="numName">我的收藏</div>
              </div>
              <div class="myLike box">
                <div class="num">45</div>
                <div class="numName">我的点赞</div>
              </div>
            </div>
            <div class="select">
              <div class="selectList">
                <div class="option">
                  <img src="../img/lishi.png" />
                  <div class="font">观看历史</div>
                </div>
                <div class="option">
                  <img src="../img/baoming.png" />
                  <div class="font">活动报名</div>
                </div>
                <div class="option active">
                  <img src="../img/jifen.png" />
                  <div class="font">我的证书</div>
                </div>
                <div class="option">
                  <img src="../img/yuyue.png" />
                  <div class="font">我的预约</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="right">
          <div class="rightcontent">0</div>
          <div class="rightcontent">1</div>
          <div class="rightcontent myCertificate">
            <ul class="myCertificateUl">
              <li>
                <span class="imgs"><img src="../img/img-zhengshu.png" /></span>
                <div class="text">
                  <p>
                    <span class="label">课程名称：</span
                    ><span class="value">2020年NSTL专业知识与情报分析能力</span>
                  </p>
                  <p>
                    <span class="label">学习时间：</span
                    ><span class="value">2020年11月25—29日</span>
                  </p>
                  <p>
                    <span class="label">修满课程：</span
                    ><span class="value"
                      >科技情报挖掘原理、方法与可视化应用</span
                    >
                  </p>
                  <p>
                    <span class="label">证书名称：</span
                    ><span class="value">2020年NSTL专业知识与情报分析能力</span>
                  </p>
                  <p>
                    <span class="label">颁证机构：</span
                    ><span class="value">国家科技图书文献中心</span>
                  </p>
                  <p>
                    <span class="label">颁证时间：</span
                    ><span class="value">2020年11月28日</span>
                  </p>
                </div>
              </li>
              <li>
                <span class="imgs"><img src="../img/img-zhengshu.png" /></span>
                <div class="text">
                  <p>
                    <span class="label">课程名称：</span
                    ><span class="value">2020年NSTL专业知识与情报分析能力</span>
                  </p>
                  <p>
                    <span class="label">学习时间：</span
                    ><span class="value">2020年11月25—29日</span>
                  </p>
                  <p>
                    <span class="label">修满课程：</span
                    ><span class="value"
                      >科技情报挖掘原理、方法与可视化应用</span
                    >
                  </p>
                  <p>
                    <span class="label">证书名称：</span
                    ><span class="value">2020年NSTL专业知识与情报分析能力</span>
                  </p>
                  <p>
                    <span class="label">颁证机构：</span
                    ><span class="value">国家科技图书文献中心</span>
                  </p>
                  <p>
                    <span class="label">颁证时间：</span
                    ><span class="value">2020年11月28日</span>
                  </p>
                </div>
              </li>
              <li>
                <span class="imgs"><img src="../img/img-zhengshu.png" /></span>
                <div class="text">
                  <p>
                    <span class="label">课程名称：</span
                    ><span class="value">2020年NSTL专业知识与情报分析能力</span>
                  </p>
                  <p>
                    <span class="label">学习时间：</span
                    ><span class="value">2020年11月25—29日</span>
                  </p>
                  <p>
                    <span class="label">修满课程：</span
                    ><span class="value"
                      >科技情报挖掘原理、方法与可视化应用</span
                    >
                  </p>
                  <p>
                    <span class="label">证书名称：</span
                    ><span class="value">2020年NSTL专业知识与情报分析能力</span>
                  </p>
                  <p>
                    <span class="label">颁证机构：</span
                    ><span class="value">国家科技图书文献中心</span>
                  </p>
                  <p>
                    <span class="label">颁证时间：</span
                    ><span class="value">2020年11月28日</span>
                  </p>
                </div>
              </li>
              <li>
                <span class="imgs"><img src="../img/img-zhengshu.png" /></span>
                <div class="text">
                  <p>
                    <span class="label">课程名称：</span
                    ><span class="value">2020年NSTL专业知识与情报分析能力</span>
                  </p>
                  <p>
                    <span class="label">学习时间：</span
                    ><span class="value">2020年11月25—29日</span>
                  </p>
                  <p>
                    <span class="label">修满课程：</span
                    ><span class="value"
                      >科技情报挖掘原理、方法与可视化应用</span
                    >
                  </p>
                  <p>
                    <span class="label">证书名称：</span
                    ><span class="value">2020年NSTL专业知识与情报分析能力</span>
                  </p>
                  <p>
                    <span class="label">颁证机构：</span
                    ><span class="value">国家科技图书文献中心</span>
                  </p>
                  <p>
                    <span class="label">颁证时间：</span
                    ><span class="value">2020年11月28日</span>
                  </p>
                </div>
              </li>
              <li>
                <span class="imgs"><img src="../img/img-zhengshu.png" /></span>
                <div class="text">
                  <p>
                    <span class="label">课程名称：</span
                    ><span class="value">2020年NSTL专业知识与情报分析能力</span>
                  </p>
                  <p>
                    <span class="label">学习时间：</span
                    ><span class="value">2020年11月25—29日</span>
                  </p>
                  <p>
                    <span class="label">修满课程：</span
                    ><span class="value"
                      >科技情报挖掘原理、方法与可视化应用</span
                    >
                  </p>
                  <p>
                    <span class="label">证书名称：</span
                    ><span class="value">2020年NSTL专业知识与情报分析能力</span>
                  </p>
                  <p>
                    <span class="label">颁证机构：</span
                    ><span class="value">国家科技图书文献中心</span>
                  </p>
                  <p>
                    <span class="label">颁证时间：</span
                    ><span class="value">2020年11月28日</span>
                  </p>
                </div>
              </li>
              <li>
                <span class="imgs"><img src="../img/img-zhengshu.png" /></span>
                <div class="text">
                  <p>
                    <span class="label">课程名称：</span
                    ><span class="value">2020年NSTL专业知识与情报分析能力</span>
                  </p>
                  <p>
                    <span class="label">学习时间：</span
                    ><span class="value">2020年11月25—29日</span>
                  </p>
                  <p>
                    <span class="label">修满课程：</span
                    ><span class="value"
                      >科技情报挖掘原理、方法与可视化应用</span
                    >
                  </p>
                  <p>
                    <span class="label">证书名称：</span
                    ><span class="value">2020年NSTL专业知识与情报分析能力</span>
                  </p>
                  <p>
                    <span class="label">颁证机构：</span
                    ><span class="value">国家科技图书文献中心</span>
                  </p>
                  <p>
                    <span class="label">颁证时间：</span
                    ><span class="value">2020年11月28日</span>
                  </p>
                </div>
              </li>
            </ul>
            <div id="page" class="page"></div>
          </div>
          <div class="rightcontent myAppointment">
            <div class="cInfo">
              <div class="tablehead">
                <div>课程主题</div>
                <div>课程类型</div>
                <div>课程时间</div>
                <div>提交时间</div>
                <div>预约反馈</div>
                <div></div>
              </div>
              <div class="tableContent">
                <div><div>2020年NSTL专业知识与</div></div>
                <div><div>某某某某某</div></div>
                <div><div>2020-09-22</div></div>
                <div><div>2020/09/22 19:35</div></div>
                <div><div>该课程已上线</div></div>
                <div><div>查看</div></div>
              </div>
              <div class="tableContent">
                <div><div>2020年NSTL专业知识与情报分析能力高级培训</div></div>
                <div><div>某某某某某某某某某类</div></div>
                <div><div>2020-09-22</div></div>
                <div><div>2020/09/22 19:35</div></div>
                <div><div>该课程已上线</div></div>
                <div><div>查看</div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cbottom"></div>
    </div>
      </section>
        <footer class="footer">
      <div class="link">
        <span>友情链接：</span>
        <a href="#">中科院文献情报中心 </a>
        <a href="#">NSTL国家图书科技文献中心 </a>
        <a href="#">中国科学院 </a>
        <a href="#">中科院文献情报中心 </a>
      </div>
      <div class="footer-wrap">
        <div>
          <div>
            <p>关于平台</p>
            <p>运营单位: 中国科学院文献情报中心</p>
            <p>技术支持: 中科院文献情报中心信息系统部</p>
            <p>北京中科文情方略科技有限公司</p>
          </div>
          <div>
            <p>关于平台</p>
            <p>电话:010-82628382</p>
            <p>地址:北京市中关村北四环西路33号</p>
          </div>
          <div>
            <p>版权公告</p>
            <p>使用协议</p>
            <p>隐私声明</p>
            <p>使用反馈</p>
          </div>
          <div
            style="
              width: 1px;
              background: #747575;
              height: 82px;
              margin-top: 30px;
            "
          ></div>
          <div style="text-align: center;">
            <img
              src="../img/QRcode1@2x.png"
              style="width: 85px; height: 85px;"
            />
            <p>扫码下载APP</p>
          </div>
          <div style="text-align: center;">
            <img
              src="../img/QRcode2@2x.png"
              style="width: 85px; height: 85px;"
            />
            <p>官方微信</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
  <script src="../js/lib/jquery/jquery.min.js"></script>
  <script src="../js/lib/layui/layui.js"></script>
  <script>
    window.onload = function () {
      $(".right")
        .find(".rightcontent")
        .eq(2)
        .show()
        .siblings(".rightcontent")
        .hide();
      $(".option").click(function (e) {
        $(this).addClass("active").siblings(".option").removeClass("active");
        const index = $(this).index();
        $(".right")
          .find(".rightcontent")
          .eq(index)
          .show()
          .siblings(".rightcontent")
          .hide();
      });

      layui.use(["laypage", "layer"], function () {
        var laypage = layui.laypage,
          layer = layui.layer;
        laypage.render({
          elem: "page",
          count: 100,
          limit: 6,
          first: "首页",
          last: "尾页",
          prev: "<em>上一页</em>",
          next: "<em>下一页</em>",
          jump: function (obj) {
            //翻页触发模拟渲染 obj.limit 是每页条数 obj.curr 是当前页
            console.log(obj);
          },
        });
      });
    };
  </script>
</html>
