<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>会议活动</title>
    <link rel="stylesheet" type="text/css" href="../css/index.css" />
    <link rel="stylesheet" type="text/css" href="../css/reset.css" />
    <link rel="stylesheet" type="text/css" href="../css/list.css" />
	<link rel="stylesheet" type="text/css" href="../css/page.css" />
    <link rel="stylesheet" type="text/css" href="../css/mobile.css" />
    <script
      type="text/javascript"
      src="../js/lib/jquery/jquery.min.js"
    ></script>
  </head>
  <body>
    <header class="header">
      <div class="header-wrap">
        <span class="m_nav"></span>
        <div class="header-left">
          <img src="../img/LOGO @2x.png" class="logo1" />
        </div>
        <div class="header-right">
          <ul>
            <li>
              <a href="#">首页</a>
            </li>
            <li>
              <a href="#">培训活动</a>
            </li>
            <li>
              <a href="#">会议活动</a>
            </li>
            <li>
              <a href="#">名优讲师</a>
            </li>
            <li>
              <a href="#">合作机构</a>
            </li>
            <li>
              <a href="#">关于我们</a>
            </li>
          </ul>
          <div class="search-wrap">
            <input placeholder="请输入" type="text" name="" />
            <img src="../img/search.png" />
          </div>
          <!-- <div class="unlogin">
					<a href="#">登录</a>
				</div> -->
          <div class="login">
            <img src="../img/user.png" />
            <span>某某某</span>
            <a href="#">退出</a>
          </div>
        </div>
      </div>
    </header>
    <section class="body">
      <div class="meetingContent">
        <div class="searchContent">
          <input placeholder="请输入关键词" type="text" />
          <img src="../img/searchBar.png" />
        </div>
        <div class="listContent">
          <div class="item">
            <div>
              课程状态&nbsp;:
            </div>
            <div class="sliderContent">
              <a class="active" href="#">全部（234）</a>
              <a href="#">待直播（23）</a>
              <a href="#">回播（121）</a>
            </div>
            <div class="slider">
              <span>展开</span>
              <img src="../img/arrow.png" />
            </div>
          </div>
          <div class="item">
            <div>
              课程系列&nbsp;:
            </div>
            <div class="sliderContent">
              <a href="#">全部（134）</a>
              <a href="#"> 写作投稿（13）</a>
              <a href="#"> 信息检索（9）</a>
              <a href="#"> 知识产权（5）</a>
              <a href="#"> 学术道德（4）</a>
              <a href="#"> 科研方法（20）</a>
              <a href="#"> 好书领读（40）</a>
            </div>
            <div class="slider">
              <span>展开</span>
              <img src="../img/arrow.png" />
            </div>
          </div>

          <div class="item">
            <div>
              课程分类&nbsp;:
            </div>
            <div class="sliderContent">
              <a href="#">全部（234）</a>
              <a href="#"> NSTL前沿趋势报告（06）</a>
              <a href="#">关键能力提升培训（05）</a>
            </div>
            <div class="slider">
              <span>展开</span>
              <img src="../img/arrow.png" />
            </div>
          </div>

          <div class="item">
            <div>
              承办单位&nbsp;:
            </div>
            <div class="sliderContent">
              <a href="#">全部（234）</a>
              <a href="#"> 中科院文献情报中心（32）</a>
              <a href="#"> 中科院自动化所（08） </a>
              <a href="#"> 上海生物研究院（02） </a>
            </div>
            <div class="slider">
              <span>展开</span>
              <img src="../img/arrow.png" />
            </div>
          </div>

          <div class="item">
            <div>
              主题分类&nbsp;:
            </div>
            <div class="sliderContent">
              <a href="#">全部（234）</a>
              <a href="#"> 知识产权（32）</a>
              <a href="#"> 学位论文（08） </a>
              <a href="#"> 学术道德（02） </a>

              <a href="#"> 科研诚信（08） </a>
              <a href="#"> 论文投稿（02） </a>
              <a href="#"> python（08） </a>
              <a href="#"> 科研绘图（02） </a>
              <a href="#"> 写作技巧（08） </a>
              <a href="#"> 科研（02） </a>
              <a href="#"> 投稿（02） </a>
            </div>
            <div class="slider">
              <span>展开</span>
              <img src="../img/arrow.png" />
            </div>
          </div>

          <div class="item">
            <div>
              发布年份&nbsp;:
            </div>
            <div class="sliderContent">
              <a href="#">全部（234）</a>
              <a href="#"> 2019（32）</a>
              <a href="#"> 2018（108） </a>
              <a href="#"> 2017（132）</a>
              <a href="#"> 2016（108） </a>
              <a href="#"> 2015（312）</a>
              <a href="#"> 2014（018） </a>
              <a href="#"> 2013（312）</a>
              <a href="#"> 2012（108） </a>
              <a href="#"> 2011（108） </a>
              <a href="#"> 2010（108） </a>
            </div>
            <div class="slider">
              <span>展开</span>
              <img src="../img/arrow.png" />
            </div>
          </div>
        </div>
        <div class="newsContent">
          <div class="newsTitle">
            <div>
              共有<span>598</span>条内容
            </div>
            <div>
              <div>
                <div class="order">
                  <a href="#">
                    <div class="up"></div>
                  </a>
                  <a href="#">
                    <div class="down"></div>
                  </a>
                </div>
                <a href="#">
                  课程热度
                </a>
              </div>
              <div>
                <div class="order">
                  <a href="#">
                    <div class="up"></div>
                  </a>
                  <a href="#">
                    <div class="down"></div>
                  </a>
                </div>
                <a href="#">
                  相关度
                </a>
              </div>
              <div>
                <div class="order">
                  <a href="#">
                    <div class="up upActive"></div>
                  </a>
                  <a href="#">
                    <div class="down downActive"></div>
                  </a>
                </div>
                <a href="#">
                  日期降序
                </a>
              </div>
            </div>
          </div>
          <div class="newsList">
            <div class="item">
              <div class="img">
                <a href="#"><img src="../img/1test.png" alt="" /></a>
              </div>
              <div class="news">
                <a href="#" class="title"
                  >庆祝中国科学院文献情报中心成立70周年——《科学研究的艺术》阅读分享</a
                >
                <a href="#" class="intro"
                  >科学研究是一项创造性的工作，也是一项艰苦的脑力劳动。科研人员都受到过系统严格的专业知识和技能的培养锻炼，但要成为一名优秀的科学家，还应关注科学研究的规律和方法。“科学人讲坛”邀请了六位专家，一人分享一本科学文化好书，带领大家共读好书，与科学同行，共创文化美好未来！</a
                >
                <div>
                  <a href="#">文献情报中心主办</a>
                  <div class="time">
                    <span class="unStart">进行中</span>
                    <span>2010/09/11-09/30</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="img">
                <a href="#"><img src="../img/1test.png" alt="" /></a>
              </div>
              <div class="news">
                <a href="#" class="title"
                  >庆祝中国科学院文献情报中心成立70周年——《科学研究的艺术》阅读分享</a
                >
                <a href="#" class="intro"
                  >科学研究是一项创造性的工作，也是一项艰苦的脑力劳动。科研人员都受到过系统严格的专业知识和技能的培养锻炼，但要成为一名优秀的科学家，还应关注科学研究的规律和方法。“科学人讲坛”邀请了六位专家，一人分享一本科学文化好书，带领大家共读好书，与科学同行，共创文化美好未来！</a
                >
                <div>
                  <a href="#">文献情报中心主办</a>
                  <div class="time">
                    <span class="end">进行中</span>
                    <span>2010/09/11-09/30</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="img">
                <a href="#"><img src="../img/1test.png" alt="" /></a>
              </div>
              <div class="news">
                <a href="#" class="title"
                  >庆祝中国科学院文献情报中心成立70周年——《科学研究的艺术》阅读分享</a
                >
                <a href="#" class="intro"
                  >科学研究是一项创造性的工作，也是一项艰苦的脑力劳动。科研人员都受到过系统严格的专业知识和技能的培养锻炼，但要成为一名优秀的科学家，还应关注科学研究的规律和方法。“科学人讲坛”邀请了六位专家，一人分享一本科学文化好书，带领大家共读好书，与科学同行，共创文化美好未来！</a
                >
                <div>
                  <a href="#">文献情报中心主办</a>
                  <div class="time">
                    <span class="on">进行中</span>
                    <span>2010/09/11-09/30</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="news">
                <a href="#" class="title"
                  >庆祝中国科学院文献情报中心成立70周年——《科学研究的艺术》阅读分享</a
                >
                <a href="#" class="intro"
                  >科学研究是一项创造性的工作，也是一项艰苦的脑力劳动。科研人员都受到过系统严格的专业知识和技能的培养锻炼，但要成为一名优秀的科学家，还应关注科学研究的规律和方法。“科学人讲坛”邀请了六位专家，一人分享一本科学文化好书，带领大家共读好书，与科学同行，共创文化美好未来！</a
                >
                <div>
                  <a href="#">文献情报中心主办</a>
                  <div class="time">
                    <span class="on">进行中</span>
                    <span>2010/09/11-09/30</span>
                  </div>
                </div>
              </div>
            </div>
		  </div>
		  <div class="pageWrap">
			<div id="page" class="page_div"></div>
		  </div>
         
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="link">
        <span>友情链接：</span>
        <a href="#">中科院文献情报中心 </a>
        <a href="#">NSTL国家图书科技文献中心 </a>
        <a href="#">中国科学院 </a>
        <a href="#">中科院文献情报中心 </a>
      </div>
      <div class="footer-wrap">
        <div>
          <div>
            <h4><img src="../img/plate.png" /> 关于平台</h4>
            <ul>
              <li>运营单位: 中国科学院文献情报中心</li>
              <li>技术支持: 中科院文献情报中心信息系统部</li>
              <li>北京中科文情方略科技有限公司</li>
            </ul>
          </div>
          <div>
            <h4><img src="../img/tel.png" /> 联系我们</h4>
            <ul>
              <li>电话:010-82628382</li>
              <li>地址:北京市中关村北四环西路33号</li>
            </ul>
          </div>
          <div class="hidden">
            <ul>
              <li><a href="#">版权公告</a></li>
              <li><a href="#">使用协议</a></li>
              <li><a href="#">隐私声明</a></li>
              <li><a href="#">使用反馈</a></li>
            </ul>
          </div>
          <div class="line"></div>
          <div style="text-align: center;" class="code">
            <img
              src="../img/QRcode1@2x.png"
              style="width: 85px; height: 85px;"
            />
            <p>扫码下载APP</p>
          </div>
          <div style="text-align: center;" class="code">
            <img
              src="../img/QRcode2@2x.png"
              style="width: 85px; height: 85px;"
            />
            <p>官方微信</p>
          </div>
        </div>
      </div>
    </footer>
	<script src="../js/common.js"></script>
	<script src="../js/page/pageMe.js"></script>
    <script type="text/javascript">
      window.onload = function () {
        $("#page").paging({
          pageNum: 1, // 当前页面
          totalNum: 14, // 总页码
          totalList: 300, // 记录总数量
          callback: function (num) {
            //回调函数
            console.log(num);
          },
        });
        $(".item").each(function () {
          var height = $(this).find(".sliderContent").height();
          if (height > 30) {
            $(this).find(".sliderContent").height("30");
            $(this).find(".slider").css("display", "block");
          } else {
            $(this).find(".slider").css("display", "none");
          }
        });
        $(".slider").on("click", function () {
          var height = $(this).prev(".sliderContent").height();
          if (height <= 30) {
            $(this).prev(".sliderContent").height("auto");
            $(this).find("img").css({
              transform: " rotate(180deg)",
            });
            $(this).find("span").text("收起");
          } else {
            $(this).prev(".sliderContent").height("30");
            $(this).find("img").css({
              transform: " rotate(0deg)",
            });
            $(this).find("span").text("展开");
          }
        });
      };
    </script>
  </body>
</html>
