<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>关于我们</title>
    <link rel="stylesheet" href="../css/aboutUs.css" />
  </head>
  <body>
    <div class="outside">
      <div class="top"></div>
      <div class="box">
        <div class="left">
          <div class="title">简介</div>
          <div class="content">
            国家科技图书文献中心（National Science and Technology Library
            [NSTL]，以下简称中心）是科技部联合财政部等六部门，经国务院领导批准，于2000年6月12日成立的一个基于网络环境的科技文献信息资源服务机构。由中国科学院文献情报中心、中国科学技术信息研究所、机械工业信息研究院、冶金工业信息标准研究院、中国化工信息中心、中国农业科学院农业信息研究所、中国医学科学院医学信息研究所、中国标准化研究院标准馆和中国计量科学研究院文献馆九个文献信息机构组成。中心以构建数字时代的国家科技文献资源战略保障服务体系为宗旨，按照“统一采购、规范加工、联合上网、资源共享”的机制，采集、收藏和开发理、工、农、医各学科领域的科技文献资源，面向全国提供公益的、普惠的科技文献信息服务。
          </div>
        </div>
        <div class="right"><img src="../img/bghj.png" /></div>
      </div>
    </div>
    <div class="space">联系方式</div>
    <div class="buttonbox">
      <div class="button">
        <img src="../img/yellowPhone.png" />
        <div>联系电话：010-58882061</div>
      </div>
      <div class="button">
        <img src="../img/yellowEmail.png" />
        <div>邮箱：service2@nstl.gov.cn</div>
      </div>
      <div class="button">
        <img src="../img/clock.png" />
        <div>预约培训</div>
      </div>
    </div>
  </body>
</html>
