<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>合作伙伴</title>
    <link rel="stylesheet" type="text/css" href="../css/index.css" />
    <link rel="stylesheet" type="text/css" href="../css/reset.css" />
    <link rel="stylesheet" type="text/css" href="../css/partner.css" />
    <script
      type="text/javascript"
      src="../js/lib/jquery/jquery.min.js"
    ></script>
  </head>
  <body>
    <header class="header">
      <div class="header-wrap">
        <span class="m_nav"></span>
        <div class="header-left">
          <img src="../img/LOGO @2x.png" class="logo1" />
        </div>
        <div class="header-right">
          <ul>
            <li>
              <a href="#">首页</a>
            </li>
            <li>
              <a href="#">培训活动</a>
            </li>
            <li>
              <a href="#">会议活动</a>
            </li>
            <li>
              <a href="#">名优讲师</a>
            </li>
            <li>
              <a href="#">合作机构</a>
            </li>
            <li>
              <a href="#">关于我们</a>
            </li>
          </ul>
          <div class="search-wrap">
            <input placeholder="请输入" type="text" name="" />
            <img src="../img/search.png" />
          </div>
          <!-- <div class="unlogin">
					<a href="#">登录</a>
				</div> -->
          <div class="login">
            <img src="../img/user.png" />
            <span>某某某</span>
            <a href="#">退出</a>
          </div>
        </div>
      </div>
    </header>
    <section>
      <div class="banner">
        <img src="../img/bannerP.png" />
      </div>
      <div class="patnerContent">
        <h2 class="patnerTitle">NSTL联盟成员</h2>
        <ul class="patnerUl">
          <li>
            <div class="img"><img src="../img/p1.png" /></div>
            中国科学院文献情报中心
          </li>
          <li>
            <div class="img"><img src="../img/p2.png" /></div>
            中国标准化研究院
          </li>
          <li>
            <div class="img"><img src="../img/p3.png" /></div>
            机械工业信息研究院
          </li>
          <li>
            <div class="img"><img src="../img/p4.png" /></div>
            冶金工业信息标准研究院
          </li>
          <li>
            <div class="img"><img src="../img/p5.png" /></div>
            中国科学技术信息研究所
          </li>
          <li>
            <div class="img"><img src="../img/p6.png" /></div>
            中国农业科学院农业信息研究所
          </li>
          <li>
            <div class="img"><img src="../img/p7.png" /></div>
            中国医学科学院医学信息研究所/图书馆
          </li>
          <li>
            <div class="img"><img src="../img/p8.png" /></div>
            中国化工信息中心
          </li>
          <li>
            <div class="img"><img src="../img/p9.png" /></div>
            中国计量科学研究院
          </li>
        </ul>
      </div>
    </section>
    <footer class="footer">
      <div class="link">
        <span>友情链接：</span>
        <a href="#">中科院文献情报中心 </a>
        <a href="#">NSTL国家图书科技文献中心 </a>
        <a href="#">中国科学院 </a>
        <a href="#">中科院文献情报中心 </a>
      </div>
      <div class="footer-wrap">
        <div>
          <div>
            <h4><img src="../img/plate.png" /> 关于平台</h4>
            <ul>
              <li>运营单位: 中国科学院文献情报中心</li>
              <li>技术支持: 中科院文献情报中心信息系统部</li>
              <li>北京中科文情方略科技有限公司</li>
            </ul>
          </div>
          <div>
            <h4><img src="../img/tel.png" /> 联系我们</h4>
            <ul>
              <li>电话:010-82628382</li>
              <li>地址:北京市中关村北四环西路33号</li>
            </ul>
          </div>
          <div class="hidden">
            <ul>
              <li><a href="#">版权公告</a></li>
              <li><a href="#">使用协议</a></li>
              <li><a href="#">隐私声明</a></li>
              <li><a href="#">使用反馈</a></li>
            </ul>
          </div>
          <div class="line"></div>
          <div style="text-align: center;" class="code">
            <img
              src="../img/QRcode1@2x.png"
              style="width: 85px; height: 85px;"
            />
            <p>扫码下载APP</p>
          </div>
          <div style="text-align: center;" class="code">
            <img
              src="../img/QRcode2@2x.png"
              style="width: 85px; height: 85px;"
            />
            <p>官方微信</p>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/common.js"></script>
    <script type="text/javascript">
      window.onload = function () {};
    </script>
  </body>
</html>
