<!DOCTYPE html>
<html>
<head>
	<title>培训课程</title>
	<link rel="stylesheet" type="text/css" href="../css/index.css">
	<link rel="stylesheet" type="text/css" href="../css/reset.css">
</head>
<body>
	<header class="header">
		<div class="header-wrap">
			<div class="header-left">
				<img src="../img/logo1.png" class="logo1">
				<div>
					<img src="../img/logo2.png" class="logo2">
					<span>
						国家图书科技文献中心
					</span>
				</div>	
			</div> 
			<div class="header-right">
				<ul>
					<li>
						<a href="#">首页</a>
					</li>
					<li>
						<a href="#">培训活动</a>
					</li>
					<li>
						<a href="#">会议活动</a>
					</li>
					<li>
						<a href="#">名优讲师</a>
					</li>
					<li>
						<a href="#">合作机构</a>
					</li>
					<li>
						<a href="#">关于我们</a>
					</li>
				</ul>
				<div class="search-wrap">
					<input placeholder="请输入" type="text" name="">
					<img src="../img/search.png">
				</div>
				<div class="unlogin">
					<a href="#">未登录</a>
				</div>
			</div>
		</div>
		
	</header>
	<section class="body">
		  
	</section>
	<footer class="footer">
		<div class="link">
			<span>友情链接：</span>
			<a href="#">中科院文献情报中心 </a>
			<a href="#">NSTL国家图书科技文献中心 </a>
			<a href="#">中国科学院 </a>
			<a href="#">中科院文献情报中心  </a>
		</div>
		<div class="footer-wrap">
			<div>
					<div>
				<p>关于平台</p>
				<p>运营单位: 中国科学院文献情报中心  </p>
				<p>技术支持: 中科院文献情报中心信息系统部</p>
				<p>北京中科文情方略科技有限公司</p>
			</div>
			<div>
				<p>关于平台</p>
				<p>电话:010-82628382 </p>
				<p>地址:北京市中关村北四环西路33号</p>
			</div>
			<div>
				<p>版权公告</p>
				<p>使用协议</p>
				<p>隐私声明</p>
				<p>使用反馈</p>
			</div>
			<div style="width: 1px;background: #747575;height: 82px;margin-top: 30px">
				
			</div>
			<div style="text-align: center;">
				<img src="../img/logo1.png" style="width:85px;height: 85px ">
				<p>扫码下载APP</p>
			</div>
			<div style="text-align: center;">
				<img src="../img/logo1.png" style="width:85px;height: 85px ">
				<p>官方微信</p>
			</div>
			</div>
			
		</div>
	</footer>
</body>
</html>