<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>培训课程</title>
    <link rel="stylesheet" type="text/css" href="../css/index.css" />
    <link rel="stylesheet" type="text/css" href="../css/reset.css" />
    <link rel="stylesheet" type="text/css" href="../css/info.css" />
    <link rel="stylesheet" type="text/css" href="../css/tab.css" />
    <script
      type="text/javascript"
      src="../js/lib/jquery/jquery.min.js"
    ></script>
  </head>
  <body>
    <header class="header">
      <div class="header-wrap">
        <div class="header-left">
          <img src="../img/LOGO @2x.png" class="logo1" />
        </div>
        <div class="header-right">
          <ul>
            <li>
              <a href="#">首页</a>
            </li>
            <li>
              <a href="#">培训活动</a>
            </li>
            <li>
              <a href="#">会议活动</a>
            </li>
            <li>
              <a href="#">名优讲师</a>
            </li>
            <li>
              <a href="#">合作机构</a>
            </li>
            <li>
              <a href="#">关于我们</a>
            </li>
          </ul>
          <div class="search-wrap">
            <input placeholder="请输入" type="text" name="" />
            <img src="../img/search.png" />
          </div>
          <!-- <div class="unlogin">
					<a href="#">登录</a>
				</div> -->
          <div class="login">
            <img src="../img/user.png" />
            <span>某某某</span>
            <a href="#">退出</a>
          </div>
        </div>
      </div>
    </header>
    <section class="body">
      <section class="info-wrap">
        <div class="content">
          <div class="left">
            <img src="../img/test.png" />
            <div class="time">
              <div style="color:#fff">
                <span>11</span>
                <span>时</span>
                <span>11</span>
                <span>分</span>
                <span>11</span>
                <span>秒</span>
              </div>
              <div>
                <span style="cursor: pointer;" class="cJoin">报名观看</span>
              </div>
            </div>
          </div>
          <div class="right">
            <p class="title">
              新一代知识服务系统的技术走势与中国策略
            </p>
            <p class="name">
              孙坦 （中国农业科学院 副院长）
            </p>
            <p class="time">
              直播时间：2020/07/22 11:30-13:30
            </p>
            <p class="place">
              所属活动：NSTL科技文献信息开放服务云论坛暨国家科技文献保障模式研讨会
            </p>
            <div class="comment">
              <p>课程评价：
              <span class="star">
                    <img src="../img/starCommet.png" alt="">
                    <img src="../img/starCommet.png" alt="">
                    <img src="../img/starCommet.png" alt="">
                    <img src="../img/starCommet.png" alt="">
                    <img src="../img/collect.png" alt="">
              </span></p>
              <div>
                <span>
                  <img
                    src="../img/history.png"
                    style="width: 20px; height: 13px;"
                  />
                  233
                </span>
                <span>
                  <img
                    src="../img/unthumbs.png"
                    style="width: 16px; height: 16px;"
                    id="thumbs"
                  />
                  233
                </span>
                <span>
                  <img
                    src="../img/collect.png"
                    style="width: 16px; height: 18px;"
                    id="collect"
                  />
                  233
                </span>
                <span>
                  <img
                    src="../img/share.png"
                    style="width: 18px; height: 17px;"
                  />
                  233
                </span>
              </div>
            </div>
            <div class="intro">
              在今日的学术环境，高质量的科研出版能决定研究成果的能见度和科研人员的学术资历。有价质的研究常常因为语言问题、不正确的文章结构、未遵循期刊投稿指南等等技术性因表，而未能获得国际知名审稿期刊发表。本讲座主要针对希望在国际顶级学术期刊上发表论文以及了解学术出版最新进展的研究人员和研究生。本场讲座将着重关键的语法和写作风格用法，从非英文母语的研究生和学者的角度，提示如何避免常犯的错误，在自己的英文能力内写出通畅达意的文章。
            </div>
          </div>
        </div>
      </section>

      <section class="tab-wrap">
        <div class="content">
          <div class="tab-header">
            <div class="active">
              相关课程
            </div>
            <div>
              相关文献
            </div>
          </div>
          <div class="tab-content">
            <div class="box div_show">
              <div class="tab2">
                <div class="item">
                  <div class="postimg">
                    <a href="#">
                      <img src="../img/test.png" />
                    </a>
                  </div>
                  <div class="intro">
                    <div class="title">
                      <a href="#">科学数据管理与应用实践—以生物多样性...</a>
                    </div>
                    <div class="anthor">
                      <span>某某某</span>
                      <span>2010/10/30</span>
                    </div>
                    <div class="detail">
                      为了发挥标准和专利信息对人工智能产业发展决策的支撑，开展面向科研院所及相关从业人员的标准和知识产权培训，课程邀请标准和专利导航
                      为了发挥标准和专利信息对人工智能产业发展决策的支撑，开展面向科研院所及相关从业人员的标准和知识产权培训，课程邀请标准和专利导航
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="postimg">
                    <a href="#">
                      <img src="../img/test.png" />
                    </a>
                  </div>
                  <div class="intro">
                    <div class="title">
                      <a href="#">科学数据管理与应用实践—以生物多样性...</a>
                    </div>
                    <div class="anthor">
                      <span>某某某</span>
                      <span>2010/10/30</span>
                    </div>
                    <div class="detail">
                      为了发挥标准和专利信息对人工智能产业发展决策的支撑，开展面向科研院所及相关从业人员的标准和知识产权培训，课程邀请标准和专利导航
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="postimg">
                    <a href="#">
                      <img src="../img/test.png" />
                    </a>
                  </div>
                  <div class="intro">
                    <div class="title">
                      <a href="#">科学数据管理与应用实践—以生物多样性...</a>
                    </div>
                    <div class="anthor">
                      <span>某某某</span>
                      <span>2010/10/30</span>
                    </div>
                    <div class="detail">
                      为了发挥标准和专利信息对人工智能产业发展决策的支撑，开展面向科研院所及相关从业人员的标准和知识产权培训，课程邀请标准和专利导航
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="box">
              <div class="tab1">
                <div class="item">
                  <a href="#" class="title"
                    >国际科学仪器发展报告（2014-2015）</a
                  >
                  <div class="people">
                    <img src="../img/peoples.png" />
                    <a href="#">某某某</a>
                  </div>
                  <div class="intro">
                    国际科学仪器发展报告（2014-2015）由国家科技图书文献中心与中国科学院文献情报中心组织编写。本书对美国、德国、日本、英国等创新型国家近期的科学仪器发展战略规划、科学仪器项目资助详情以及国际知名仪器展会上的新产品与新技术发展趋势进行了较为系统的调研和梳理，以期为各级决策部门、各级领导干部、科研用户以及社会公众了解国际科学仪器发展现状及态势提供信息参考依据。
                    <a href="#" style="color: rgba(2, 154, 192, 1);"
                      >了解更多&gt;&gt;</a
                    >
                  </div>
                  <div class="date">
                    2016-01
                  </div>
                </div>
                <div class="item">
                  <a href="#" class="title"
                    >国际科学仪器发展报告（2014-2015）</a
                  >
                  <div class="people">
                    <img src="../img/peoples.png" />
                    <a href="#">某某某</a>
                  </div>
                  <div class="intro">
                    国际科学仪器发展报告（2014-2015）由国家科技图书文献中心与中国科学院文献情报中心组织编写。本书对美国、德国、日本、英国等创新型国家近期的科学仪器发展战略规划、科学仪器项目资助详情以及国际知名仪器展会上的新产品与新技术发展趋势进行了较为系统的调研和梳理，以期为各级决策部门、各级领导干部、科研用户以及社会公众了解国际科学仪器发展现状及态势提供信息参考依据。
                    <a href="#" style="color: rgba(2, 154, 192, 1);"
                      >了解更多&gt;&gt;</a
                    >
                  </div>
                  <div class="date">
                    2016-01
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
    <footer class="footer">
      <div class="link">
        <span>友情链接：</span>
        <a href="#">中科院文献情报中心 </a>
        <a href="#">NSTL国家图书科技文献中心 </a>
        <a href="#">中国科学院 </a>
        <a href="#">中科院文献情报中心 </a>
      </div>
      <div class="footer-wrap">
        <div>
          <div>
              <p><img src="../img/plate.png" style="width: 26px;height: 22px;margin-right: 13px"> 关于平台</p>
          
            <p>运营单位: 中国科学院文献情报中心</p>
            <p>技术支持: 中科院文献情报中心信息系统部</p>
            <p>北京中科文情方略科技有限公司</p>
          </div>
          <div>
             <p style="font-size: 16px"> <img src="../img/tel.png" style="width: 24px;height: 20px;margin-right: 13px"> 联系我们</p>
            <p>电话:010-82628382</p>
            <p>地址:北京市中关村北四环西路33号</p>
          </div>
          <div>
            <p>版权公告</p>
            <p>使用协议</p>
            <p>隐私声明</p>
            <p>使用反馈</p>
          </div>
          <div
            style="
              width: 1px;
              background: #747575;
              height: 82px;
              margin-top: 30px;
            "
          ></div>
          <div style="text-align: center;">
            <img
              src="../img/QRcode1@2x.png"
              style="width: 85px; height: 85px;"
            />
            <p>扫码下载APP</p>
          </div>
          <div style="text-align: center;">
            <img
              src="../img/QRcode2@2x.png"
              style="width: 85px; height: 85px;"
            />
            <p>官方微信</p>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/lib/layui/layui.js"></script>
    <script type="text/javascript">
      window.onload = function () {
        $(".tab-header")
          .find("div")
          .click(function (e) {
            $(this).addClass("active");
            $(this).siblings().removeClass("active");

            $(".tab-content>div").eq($(this).index()).addClass("div_show");
            $(".tab-content>div")
              .eq($(this).index())
              .siblings()
              .removeClass("div_show");
          });
          layui.use("layer", function () {
        var layer = layui.layer;
        $(".cJoin").on("click", function () {
          layer.open({
            type: 2,
            maxmin: true,
            title: [
              "报名信息",
              "font-size:18px;background:#029AC0;text-align:center;color:#ffffff",
            ],
            area: ["700px", "800px"],
            shadeClose: false, //点击遮罩关闭
            content: ["./join.html", "no"],
          });
        });
        $("#thumbs").on("click",function(){
        	$(this).attr('src','../img/thumbs.png')
        })
        $("#collect").on("click",function(){
        	$(this).attr('src','../img/starCommet.png')
        })
      });
      };
    </script>
  </body>
</html>
