<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>活动详情</title>
    <link rel="stylesheet" href="../css/activityDetails.css" />
    <link rel="stylesheet" href="../js/lib/layui/css/layui.css" media="all" />
  </head>
  <body>
    <div class="cTop">
      <div class="cBanner">
        <div class="cJoin">报名参加</div>
      </div>
    </div>
    <div class="cCenter">
      <div class="cTitle">
        <div class="point"></div>
        <div class="font">课程师资</div>
        <div class="point"></div>
      </div>
      <div class="cTeacher">
        <div class="leftIcon"></div>
        <div class="cTeacherList">
          <div class="teacherCard">
            <div class="leftBox">
              <img class="avatar" src="../img/avatar.png" />
              <div class="name">孙坦</div>
              <div class="position">副院长</div>
            </div>
            <div class="rightBox">
              <div class="company">
                中国农业科学院
              </div>
              <div class="introduction">
                长期从事数字信息描述与组织研究，近年来主持国家科技支撑计划重点项目等近10项国家及省部级研究项目，发表学术论长期从事数字信息描述与组织研究，近年来主持国家科技支长期从事数字信息描述与组织研究，近年来主持国家科技支长期从事数字信息描述与组织研究，近年来主持国家科技支长期从事数字信息描述与组织研究，近年来主持国家科技支
              </div>
            </div>
          </div>
          <div class="teacherCard">
            <div class="leftBox">
              <img class="avatar" src="../img/avatar.png" />
              <div class="name">孙坦</div>
              <div class="position">副院长</div>
            </div>
            <div class="rightBox">
              <div class="company">
                中国农业科学院
              </div>
              <div class="introduction">
                长期从事数字信息描述与组织研究，近年来主持国家科技支撑计划重点项目等近10项国家及省部级研究项目，发表学术论长期从事数字信息描述与组织研究，近年来主持国家科技支长期从事数字信息描述与组织研究，近年来主持国家科技支长期从事数字信息描述与组织研究，近年来主持国家科技支长期从事数字信息描述与组织研究，近年来主持国家科技支
              </div>
            </div>
          </div>
          <div class="teacherCard">
            <div class="leftBox">
              <img class="avatar" src="../img/avatar.png" />
              <div class="name">孙坦</div>
              <div class="position">副院长</div>
            </div>
            <div class="rightBox">
              <div class="company">
                中国农业科学院
              </div>
              <div class="introduction">
                长期从事数字信息描述与组织研究，近年来主持国家科技支撑计划重点项目等近10项国家及省部级研究项目，发表学术论长期从事数字信息描述与组织研究，近年来主持国家科技支长期从事数字信息描述与组织研究，近年来主持国家科技支长期从事数字信息描述与组织研究，近年来主持国家科技支长期从事数字信息描述与组织研究，近年来主持国家科技支
              </div>
            </div>
          </div>
        </div>
        <div class="rightIcon"></div>
      </div>
      <div class="cTitle">
        <div class="point"></div>
        <div class="font">课程安排</div>
        <div class="point"></div>
      </div>
      <div class="schedule"></div>
      <div class="cInfo">
        <table>
          <thead>
            <tr>
              <th>缴款方式</th>
              <th>内容</th>
              <th>截至时间</th>
              <th>备注</th>
            </tr>
          </thead>
        </table>
        <div class="tableContent">
          <div>免费</div>
          <div>7月19日17点（周日）前报名参会</div>
          <div>7月19日17点</div>
          <div>
            <div>会议直播链接将于7月20日发送至报名 邮箱及手机中</div>
          </div>
        </div>
      </div>
      <div class="CFoot">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </body>
  <script src="../js/lib/jquery/jquery.min.js"></script>
  <script src="../js/lib/layui/layui.js"></script>
  <script>
    $(".leftIcon").click(() => {
      console.log(123);
    });
    $(".rightIcon").click(() => {
      console.log(321);
    });
  </script>
</html>
