<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>在线讲堂-首页</title>
    <link rel="stylesheet" type="text/css" href="../css/reset.css" />
    <link rel="stylesheet" type="text/css" href="../css/index.css" />
    <link rel="stylesheet" type="text/css" href="../css/home.css" />
    <script type="text/javascript" src="../js/lib/jquery/jquery.min.js"></script>
  </head>
  <body>
    <header class="header">
      <div class="header-wrap">
        <div class="header-left">
          <img src="../img/LOGO @2x.png" class="logo1" />
        </div>
        <div class="header-right">
          <ul>
            <li>
              <a href="#" class="active">首页</a>
            </li>
            <li>
              <a href="#">培训活动</a>
            </li>
            <li>
              <a href="#">会议活动</a>
            </li>
            <li>
              <a href="#">名优讲师</a>
            </li>
            <li>
              <a href="#">合作机构</a>
            </li>
            <li>
              <a href="#">关于我们</a>
            </li>
          </ul>
          <div class="search-wrap">
            <input placeholder="请输入" type="text" name="" />
            <img src="../img/search.png" />
          </div>
          <!-- <div class="unlogin">
        					<a href="#">登录</a>
        				</div> -->
          <div class="login">
            <img src="../img/user.png" />
            <span>某某某</span>
            <a href="#">退出</a>
          </div>
        </div>
      </div>
    </header>
    <div class="y_silde">
      <div class="y_swiper_big"><img src="../img/index-swiper-big.png" /></div>
      <div class="y_swiper_big"><img src="../img/index-swiper-big.png" /></div>
      <div class="y_swiper_big"><img src="../img/index-swiper-big.png" /></div>
      <div class="y_swiper">
        <div class="y_swiper_text">
          <div class="y_swiper_title">NSTL科技文献信息开放服务云论坛</div>
          <div>
            <span class="y_swiper_time">2020/07/22-2020/07/24</span>
            <span class="y_swiper_button cJoin" style="cursor: pointer;" href="#"
              >报名参加</span
            >
          </div>
        </div>
        <div class="y_swiper_content">
          <div class="y_swiper_container">
            <div class="swiper-wrapper">
              <div
                class="swiper-slide"
                data-messgeName="NSTL科技文献信息开放服务云论坛"
                data-time="2020/07/22-2020/07/24"
                data-link="/活动详情.html"
              >
                <img src="../img/index-swiper-big.png" /><span
                  class="shadow"
                ></span>
              </div>
              <div
                class="swiper-slide"
                data-messgeName="NSTL服务云论坛"
                data-time="2020/09/22-2020/11/24"
                data-link="/关于我们.html"
              >
                <img src="../img/index-swiper-big.png" /><span class="shadow"></span>
              </div>
              <div
                class="swiper-slide"
                data-messgeName="NNDNFJG会议记录盛开"
                data-time="2020/10/22-2020/12/12"
                data-link="/培训课程.html"
              >
                <img src="../img/index-swiper-big.png" /><span class="shadow"></span>
              </div>
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      </div>
    </div>
    <div class="y_content">
      <div class="y_section">
        <h2 class="y_section_title">
          <span>NSTL课程</span>
          <p>
            <a class="js-changeCurriculum" href="javascript:voild(0)"
              >高级培训</a
            >
            <a class="js-changeCurriculum" href="javascript:voild(0)"
              >前沿趋势</a
            >
            <a class="js-changeCurriculum" href="javascript:voild(0)"
              >先进工具</a
            >
            <a class="js-changeCurriculum" href="javascript:voild(0)"
              >工作岗位</a
            >
          </p>
          <a href="template/培训课程.html" class="y_more">更多+</a>
        </h2>
        <div class="y_section_body">
          <ul class="y_curriculum">
            <li>
              <a href="/培训课程.html">
                <div class="y_curriculum_img">
                  <img
                    src="../img/home-kecheng@2x.png"
                    alt="中国策略课程"
                    title="中国策略课程"
                  />
                </div>
                <div class="y_curriculum_text">
                  孙坦-新一代知识服务系统的技术走势与中国策略
                </div>
              </a>
            </li>
            <li>
              <a href="/template/培训课程.html">
                <div class="y_curriculum_img">
                  <img
                    src="../img/home-kecheng@2x.png"
                    alt="中国策略课程"
                    title="中国策略课程"
                  />
                </div>
                <div class="y_curriculum_text">
                  曾建勋-国家科技文献资源建设与服务体系思考
                </div>
              </a>
            </li>
            <li>
              <a href="/template/培训课程.html">
                <div class="y_curriculum_img">
                  <img
                    src="../img/home-kecheng@2x.png"
                    alt="中国策略课程"
                    title="中国策略课程"
                  />
                </div>
                <div class="y_curriculum_text">
                  童云海-图书馆数据生态建设的思考
                </div>
              </a>
            </li>
            <li>
              <a href="/template/培训课程.html">
                <div class="y_curriculum_img">
                  <img
                    src="../img/home-kecheng@2x.png"
                    alt="中国策略课程"
                    title="中国策略课程"
                  />
                </div>
                <div class="y_curriculum_text">
                  新现实 新业态 新作为-图书馆面临的挑战与机遇
                </div>
              </a>
            </li>
            <li>
              <a href="/template/培训课程.html">
                <div class="y_curriculum_img">
                  <img
                    src="../img/home-kecheng@2x.png"
                    alt="中国策略课程"
                    title="中国策略课程"
                  />
                </div>
                <div class="y_curriculum_text">
                  吴燕-开放、创新、共赢
                </div>
              </a>
            </li>
            <li>
              <a href="/template/培训课程.html">
                <div class="y_curriculum_img">
                  <img
                    src="../img/home-kecheng@2x.png"
                    alt="中国策略课程"
                    title="中国策略课程"
                  />
                </div>
                <div class="y_curriculum_text">
                  开放数据著作权管理
                </div>
              </a>
            </li>
            <li>
              <a href="/template/培训课程.html">
                <div class="y_curriculum_img">
                  <img
                    src="../img/home-kecheng@2x.png"
                    alt="中国策略课程"
                    title="中国策略课程"
                  />
                </div>
                <div class="y_curriculum_text">
                  图书馆资源建设中的重大版权问题及应对方案
                </div>
              </a>
            </li>
            <li>
              <a href="/template/培训课程.html">
                <div class="y_curriculum_img">
                  <img
                    src="../img/home-kecheng@2x.png"
                    alt="中国策略课程"
                    title="中国策略课程"
                  />
                </div>
                <div class="y_curriculum_text">
                  新技术背景下著作权法的发展思考
                </div>
              </a>
            </li>
            <li>
              <a href="/template/培训课程.html">
                <div class="y_curriculum_img">
                  <img
                    src="../img/home-kecheng@2x.png"
                    alt="中国策略课程"
                    title="中国策略课程"
                  />
                </div>
                <div class="y_curriculum_text">
                  基于大数据的科学评价方法与实践
                </div>
              </a>
            </li>
            <li>
              <a href="/template/培训课程.html">
                <div class="y_curriculum_img">
                  <img
                    src="../img/home-kecheng@2x.png"
                    alt="中国策略课程"
                    title="中国策略课程"
                  />
                </div>
                <div class="y_curriculum_text">
                  人工智能时代的知识图谱技术
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="y_section">
        <h2 class="y_section_title">
          <span>名优讲师</span>
          <a href="template/讲师详情.html" class="y_more">更多+</a>
        </h2>
        <div class="y_section_body">
          <ul class="y_teacherUl">
            <li>
              <a href="template/讲师详情.html">
                <div class="y_teacher_info">
                  <span class="y_teacher_img"
                    ><img
                      src="../img/avatar.png"
                      alt="姓名-职位"
                      title="姓名-职位"
                  /></span>
                  <span class="y_teacher_text">
                    <p><strong>孙坦</strong><i>副院长</i></p>
                    <p>中国农业科学院</p>
                  </span>
                </div>
                <div class="y_teacher_detail">
                  长期从事数字信息描述与组织研究，近年来主持国家科技支撑计划重点项目等近10项国家及省部级研究项目，发表学术论文80余篇，主编、参...
                </div>
              </a>
            </li>
            <li>
              <a href="template/讲师详情.html">
                <div class="y_teacher_info">
                  <span class="y_teacher_img"
                    ><img
                      src="../img/avatar.png"
                      alt="姓名-职位"
                      title="姓名-职位"
                  /></span>
                  <span class="y_teacher_text">
                    <p><strong>孙坦</strong><i>副院长</i></p>
                    <p>中国农业科学院</p>
                  </span>
                </div>
                <div class="y_teacher_detail">
                  长期从事数字信息描述与组织研究，近年来主持国家科技支撑计划重点项目等近10项国家及省部级研究项目，发表学术论文80余篇，主编、参...
                </div>
              </a>
            </li>
            <li>
              <a href="template/讲师详情.html">
                <div class="y_teacher_info">
                  <span class="y_teacher_img"
                    ><img
                      src="../img/avatar.png"
                      alt="姓名-职位"
                      title="姓名-职位"
                  /></span>
                  <span class="y_teacher_text">
                    <p><strong>孙坦</strong><i>副院长</i></p>
                    <p>中国农业科学院</p>
                  </span>
                </div>
                <div class="y_teacher_detail">
                  长期从事数字信息描述与组织研究，近年来主持国家科技支撑计划重点项目等近10项国家及省部级研究项目，发表学术论文80余篇，主编、参...
                </div>
              </a>
            </li>
            <li>
              <a href="template/讲师详情.html">
                <div class="y_teacher_info">
                  <span class="y_teacher_img"
                    ><img
                      src="../img/avatar.png"
                      alt="姓名-职位"
                      title="姓名-职位"
                  /></span>
                  <span class="y_teacher_text">
                    <p><strong>孙坦</strong><i>副院长</i></p>
                    <p>中国农业科学院</p>
                  </span>
                </div>
                <div class="y_teacher_detail">
                  长期从事数字信息描述与组织研究，近年来主持国家科技支撑计划重点项目等近10项国家及省部级研究项目，发表学术论文80余篇，主编、参...
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="link">
        <span>友情链接：</span>
        <a href="#">中科院文献情报中心 </a>
        <a href="#">NSTL国家图书科技文献中心 </a>
        <a href="#">中国科学院 </a>
        <a href="#">中科院文献情报中心 </a>
      </div>
      <div class="footer-wrap">
        <div>
          <div>
              <p><img src="../img/plate.png" style="width: 26px;height: 22px;margin-right: 13px"> 关于平台</p>
          
            <p>运营单位: 中国科学院文献情报中心</p>
            <p>技术支持: 中科院文献情报中心信息系统部</p>
            <p>北京中科文情方略科技有限公司</p>
          </div>
          <div>
             <p style="font-size: 16px"> <img src="../img/tel.png" style="width: 24px;height: 20px;margin-right: 13px"> 联系我们</p>
            <p>电话:010-82628382</p>
            <p>地址:北京市中关村北四环西路33号</p>
          </div>
          <div>
            <p>版权公告</p>
            <p>使用协议</p>
            <p>隐私声明</p>
            <p>使用反馈</p>
          </div>
          <div
            style="
              width: 1px;
              background: #747575;
              height: 82px;
              margin-top: 30px;
            "
          ></div>
          <div style="text-align: center;">
            <img src="../img/QRcode1@2x.png" style="width: 85px; height: 85px;" />
            <p>扫码下载APP</p>
          </div>
          <div style="text-align: center;">
            <img src="../img/QRcode2@2x.png" style="width: 85px; height: 85px;" />
            <p>官方微信</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
  <script src="../js/lib/layui/layui.js"></script>
  <script>
    function changeSwiper(index) {
      $(".swiper-slide")
        .eq(index)
        .addClass("active")
        .siblings()
        .removeClass("active");
      const activeData = $(".swiper-slide").eq(index).data();
      $(".y_swiper_time").html(activeData.time);
      $(".y_swiper_title").html(activeData.messgename);
      $(".y_swiper_button").prop({ href: activeData.link });
      $(".y_swiper_big").eq(index).fadeIn().siblings(".y_swiper_big").fadeOut();
    }
    $(function () {
      // NSTL 课程列表切换
      $(".js-changeCurriculum").click(function () {
        $(this).addClass("active").siblings().removeClass("active");
        //ajax reload 课程列表
      });
      let homeSwiperIndex = 0;
      changeSwiper(homeSwiperIndex);
      let timeLoop = setInterval(function () {
        homeSwiperIndex++;
        if (homeSwiperIndex > 2) homeSwiperIndex = 0;
        changeSwiper(homeSwiperIndex);
      }, 3000);
      $(".swiper-slide").click(function () {
        clearInterval(timeLoop);
        const index = $(this).index();
        homeSwiperIndex = index;
        changeSwiper(homeSwiperIndex);
        timeLoop = setInterval(function () {
          homeSwiperIndex++;
          if (homeSwiperIndex > 2) homeSwiperIndex = 0;
          changeSwiper(homeSwiperIndex);
        }, 3000);
      });
      $(".swiper-button-next").click(function () {
        console.log(22222);
        clearInterval(timeLoop);
        homeSwiperIndex--;
        if (homeSwiperIndex < 0) homeSwiperIndex = 2;
        changeSwiper(homeSwiperIndex);
        timeLoop = setInterval(function () {
          homeSwiperIndex++;
          if (homeSwiperIndex > 2) homeSwiperIndex = 0;
          changeSwiper(homeSwiperIndex);
        }, 3000);
      });
      $(".swiper-button-prev").click(function () {
        clearInterval(timeLoop);

        homeSwiperIndex++;
        if (homeSwiperIndex > 2) homeSwiperIndex = 0;
        changeSwiper(homeSwiperIndex);
        timeLoop = setInterval(function () {
          homeSwiperIndex++;
          if (homeSwiperIndex > 2) homeSwiperIndex = 0;
          changeSwiper(homeSwiperIndex);
        }, 3000);
      });

      layui.use("layer", function () {
        var layer = layui.layer;
        $(".cJoin").on("click", function () {
          layer.open({
            type: 2,
            maxmin: true,
            title: [
              "报名信息",
              "font-size:18px;background:#029AC0;text-align:center;color:#ffffff",
            ],
            area: ["700px", "700px"],
            shadeClose: false, //点击遮罩关闭
            content: ["./join.html", "no"],
          });
        });
      });

    });
  </script>
</html>
